body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 80px;
    width: 300px;
    height: 450px;
    
    
    

}
.screen {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: inherit;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: end;
    background-color: black;
}
#currentScreen { 
    font-size: 30px;
    color: white;
}
#previousScreen {
    font-size: 20px;
    color: white;
}
.keyboard {
    border-top: 2px solid white;
    background-color: black;
   display: grid;
   grid-template-columns: repeat(4,83px);
   grid-template-rows: repeat(5,50px);
   row-gap: 20px;
    
}
button {
    width: 50px;
    font-size: 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}
.operator {
    color: white;
    background-color: #951a46;
}
.operand {
    color: white;
   background-color: #657060; 
}
.otherButtons{
    background-color: #949a9a;
}
footer {
    margin-top: 50px;
    font-size: 17px;
    color: #657060;
    display: flex;
    justify-content: center;

}
a {
    margin-top: 20px;
}
